/* ==========================================================================
   SoftBros Project
   ========================================================================== */


.app-header{
	background: url("../img/img2.jpg") no-repeat center top fixed;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 80px;
}
.app-navbar{
	background: rgba(0,0,0,0.6);
	border-radius: 0;
}
.app-link{
	color: white;
	text-shadow: none;
}
.app-link:hover{
	color: #FACC2E;
}
.app-nav>li>a{
	color: white;
	text-shadow: none;
}
.app-nav>li>a:hover{
	color: white;
	background-color: black;
}
.app-icon{
	background-color: white;
}
.app-logo{
	font-weight: bold;
}


/*SECCION*/
.app-seccion1{
	width: 60%;
	margin: 0 auto;
	margin-top: 130px;
}
.app-titulo{
	text-align: center;
	color: white;
	font-size: 2.8em;
	margin-bottom: 55px;
}
.app-resaltar{
	color: #FACC2E;
}
.app-descripcion{
	text-align: center;
	color: white;
	font-size: 1em;
	margin-bottom: 100px;
}
.app-formulario1{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.app-formulario2{
	padding: 15px 25px 25px 25px;
	background: rgba(0,0,0,0.6);
}
.app-input{
	height: 50px;
	margin-top: 10px;
}
.app-boton {
	color: white;
	background: #0080d6;
	margin-top: 10px;
	height: 50px;
	border-bottom: 6px solid #0064A7;
	border-radius: 10px;
	width: 100%;
	transition: all 200ms linear;
}

.app-boton:hover {
	color: white;
	border-bottom: 0 none;
	background-color: #0064A7;
	border-top: 6px solid #0080d6;
}




/*FOOTER*/
.app-footer{
	text-align: center;
	background: #111111;
	letter-spacing: 2px;
	padding: 30px 0;
	color: white;
}
.app-empresa{
	margin-bottom: 30px;
}
.app-icon1{
	background-color: #3b5998;
	color: white;
	padding: 10px;
	border-radius: 4px;
	margin-left: 10px;
}
.app-icon2{
	background-color: #55acee;
	color: white;
	padding: 10px;
	border-radius: 4px;
	margin-left: 10px;
}
.app-icon3{
	background-color: #dd4b39;
	color: white;
	padding: 10px;
	border-radius: 4px;
	margin-left: 10px;
}





#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	/*background: rgba(0,0,0,0.8);*/

	}

@media (max-width: 768px){
	.app-seccion1{
		width: 90%;
	}
	.app-titulo{
		font-size: 1.8em;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.app-descripcion{
		font-size: 0.8em;
		margin-bottom: 50px;
	}
}